

html, body {
  margin: 0;
  padding: 0;
  /* overflow: scroll; */
  /* background-color: transparent; */
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

#clippingElement{
    min-width: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#slideElement{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;

  font-size: max(1.2vw,1.2vh);
  white-space: nowrap;

  /* transform: translateX(100%); */
  /* opacity: 0; */

  /* will-change: transform, opacity; */
  animation: ticker 50s linear infinite;
}

#slideElement span {
  display: inline-block;
  margin-right: 30vw;
}

@keyframes ticker {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#navbar{
  padding:0 1vw 0 1vw;
  width: calc(100% - 2vw);
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 100; */
  background: 
    /* top gradient, black top to transparent bottom*/
    linear-gradient(
      to bottom,
      black 0%,
      transparent 20%,
      transparent 80%,
      black 100%
    ),

    /* stripes */
    repeating-linear-gradient(
      -45deg,

      black 0px,
      black 2px,

      rgb(4,4,4) 4px,
      rgb(10,10,10) 6px,

      rgb(16,16,16) 10px,

      rgb(10,10,10) 14px,
      rgb(4,4,4) 16px,

      black 18px
  );

  
}

#MessageSlider{
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  height: max(2vw,2vh);
  background-color: goldenrod;
  width: 100%;
  border-bottom: black 3px solid;
}

#SlidingMessages{
  display: grid;
  grid-template-columns: minmax(10px, 30px) minmax(0, 1fr) minmax(10px, 30px);
  box-shadow:inset 0 3px 0 black,inset 0 -3px 0 black;
  
}

#mainContent {
  display: grid;
  grid-template-columns: 65fr 35fr;
  width: 100%;
  flex: 1;
  min-height: 0;
  column-gap: 5vw;
  row-gap: 5vw;
  margin-bottom: max(3vw,3vh);
}
@media (max-width: 700px) {
  #mainContent {
    grid-template-columns: 1fr;
    grid-template-rows: 50fr 50fr;
    flex:none;
    min-height: auto;
    
  }
}

#about{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: max(1.3vw,1.3vh);
  margin:max(0.5vw,0.5vh);
  /* margin-bottom: 0; */

  display: flex;
  flex-direction: column;

  min-height: 0; 
  height: 100%;
}

#homepageabouttxt{
  padding:max(0.5vw,0.5vh);
  background: 
    /* stripes */
    repeating-linear-gradient(
      -45deg,

      black 0px,
      black 2px,

      rgb(4,4,4) 4px,
      rgb(10,10,10) 6px,

      rgb(16,16,16) 10px,

      rgb(10,10,10) 14px,
      rgb(4,4,4) 16px,

      black 18px
  );
  color:white;
  border:goldenrod 3px solid;
  /* margin-top: max(0.5vw,0.5vh); */
  margin-bottom: max(0.5vw,0.5vh);
}

#homepageShowcase{
  /* margin-top: max(0.5vw,0.5vh); */
  display:grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  flex:1;
  row-gap: max(1.5vw,1.5vh);
  width:90%;
}

.showcaseBlock{
  background: 
    /* stripes */
    repeating-linear-gradient(
      -45deg,

      black 0px,
      black 2px,

      rgb(4,4,4) 4px,
      rgb(10,10,10) 6px,

      rgb(16,16,16) 10px,

      rgb(10,10,10) 14px,
      rgb(4,4,4) 16px,

      black 18px
  );
  border:goldenrod 3px solid;

  display:grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: max(1.1vw,1.1vh);
  color:white;
  align-items: center;
}

.ppad{
  padding:max(0.5vw,0.5vh);
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden; /* Traps the video inside the grid cell boundaries */
}

.Rvideo{
  position: absolute;
  width: 100%;
  height: 100%;
  /* Optional: prevents the video from overflowing if the parent is too small */
  /* overflow: hidden;*/ 
  object-fit: fill;
}

#account{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: max(1.3vw,1.3vh);
  margin: max(0.5vw,0.5vh);
  padding: max(0.3vw,0.3vh);
  color:white;
  border:goldenrod 3px solid;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  /* acount for the margin and padding and border */
  width:calc(100% - 2 * max(0.3vw,0.3vh) - 2 * max(0.5vw,0.5vh) - 6px);
  background: 
    /* stripes */
    repeating-linear-gradient(
      -45deg,

      black 0px,
      black 2px,

      rgb(4,4,4) 4px,
      rgb(10,10,10) 6px,

      rgb(16,16,16) 10px,

      rgb(10,10,10) 14px,
      rgb(4,4,4) 16px,

      black 18px
  );
  min-height: 0;
  max-height: 100%;
  /* overflow: hidden; */
}


#bottombar{
  width: 100%;
  height:80px;
  border-top: lightgray 2px solid;
  margin-top: auto;
  background: 
    linear-gradient(
      to bottom,
      black 0%,
      transparent 20%,
      transparent 80%,
      black 100%
    ),
    /* stripes */
    repeating-linear-gradient(
      -45deg,

      black 0px,
      black 2px,

      rgb(4,4,4) 4px,
      rgb(10,10,10) 6px,

      rgb(16,16,16) 10px,

      rgb(10,10,10) 14px,
      rgb(4,4,4) 16px,

      black 18px
  );
}

#ThreeBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#UIRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;     /* full-screen overlay */
  pointer-events: none; /* let clicks go through unless overridden */
  z-index: 999;
 
  display:flex;
  flex-direction: column;
  /* display:none */
  
}

#CountryIcon{
  height:100%;
  aspect-ratio: 1.7/1;
  background: rgb(98, 98, 98);
  border-radius: max(4px, 0.3vw)
}

#Rightside{
  display: grid;
  grid-template-rows: 0.9fr 1.2fr;
}

#ResourceBar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: max(4px, 0.3vw);
  padding-left: max(4px, 0.3vw);
  margin-bottom: max(4px, 0.3vw);
}

#ButtonsBar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: max(4px, 0.3vw);
  margin-left: max(4px, 0.3vw);
  background-color: rgb(98, 98, 98);
  border-radius: max(4px, 0.3vw);
  padding: max(4px, 0.3vw);
}

.ResourcePiece{
  display: grid;
  width:100%;
  height:100%;

  background-color: rgb(98, 98, 98);
  border-radius: max(4px, 0.3vw);
  grid-template-columns: 1fr 3fr;

  container-type: size;
}

.IconGeneral{
  /* height:100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.resourceText{
  font-size: clamp(4px, 60cqh, 32px);
  line-height: 0;

  display: flex;
  justify-content: center;
  align-items: center;  
  
  overflow: hidden;
  text-overflow: clip;
}

.BBarElem{
  background-color: rgb(188, 187, 187);
  border-radius: max(4px, 0.3vw);
}

#DDTitleParent{
  display:grid;
  grid-template-columns: 11fr 1fr;
}

#closeDDBtnParent{
  width: 100%;
  height:100%;
}

#closeDDBtn{
  height:100%;
  aspect-ratio: 1/1;
  float: right;
  border-radius: max(4px, 0.3vw);
  background-color: rgb(188, 187, 187);
  background-image:url('Icons/Cross.png')
}

#DDTitle{
  width:calc(100% - max(8px, 0.6vw));
  aspect-ratio: 13/1;
  background-color: rgb(188, 187, 187);
  border-radius: max(4px, 0.3vw);

  justify-content: left;
  padding-left: max(4px, 0.3vw);
  padding-right: max(4px, 0.3vw);
}

.DDChild{
  flex: 1 1 auto;
  min-width: 0;
  background-color: rgb(98, 98, 98);
  border-radius: max(4px, 0.3vw);
  margin-top: max(4px, 0.3vw);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgb(188, 187, 187) gray;
  scrollbar-width: thin;  
  padding:max(4px, 0.3vw);
}

.RTxt{
  display:flex;
  padding:max(4px, 0.3vw);
  /* height:calc( max(15px,1vw)); */
  width:calc(100% - max(12px, 0.9vw));
  background-color: rgb(188, 187, 187);
  border-radius: max(2px, 0.15vw) max(2px, 0.15vw);
  font-size: max(15px,1vw);
}

#RBody{
  width:calc(100% - max(20px, 1.5vw));
  border-radius: 0 0 max(2px, 0.15vw) max(2px, 0.15vw);

  display: grid;
  grid-template-columns: repeat(8,1fr);
  column-gap:max(12px, 0.8vw);
  grid-auto-rows:1fr;
  row-gap: max(8px, 0.6vw);;

  padding:max(8px, 0.6vw);
  padding-bottom:max(4px, 0.3vw)
}

#TBBody{
  width:calc(100% - max(20px, 1.5vw));
  border-radius: 0 0 max(2px, 0.15vw) max(2px, 0.15vw);

  display: grid;
  grid-template-columns: repeat(8,1fr);
  column-gap:max(12px, 0.8vw);
  grid-auto-rows:1fr;
  row-gap: max(8px, 0.6vw);;

  padding:max(8px, 0.6vw);
  /* padding-bottom:max(4px, 0.3vw) */
}

#CBody{
  width:calc(100% - max(20px, 1.5vw));
  border-radius: 0 0 max(2px, 0.15vw) max(2px, 0.15vw);

  display: grid;
  grid-template-columns: repeat(8,1fr);
  column-gap:max(12px, 0.8vw);
  grid-auto-rows:1fr;
  row-gap: max(8px, 0.6vw);;

  padding:max(8px, 0.6vw);
}

#TBRegBody{
  width:calc(100% - max(20px, 1.5vw));
  border-radius: 0 0 max(2px, 0.15vw) max(2px, 0.15vw);

  display: grid;
  grid-template-columns: repeat(auto-fill,1fr);
  row-gap: max(8px, 0.6vw);;

  padding:max(8px, 0.6vw);
  padding-bottom: max(4px, 0.3vw);;
}

#CConBody{
  width:calc(100% - max(20px, 1.5vw));
  border-radius: 0 0 max(2px, 0.15vw) max(2px, 0.15vw);

  display: grid;
  grid-template-columns: repeat(auto-fill,1fr);
  row-gap: max(8px, 0.6vw);;

  padding:max(8px, 0.6vw);
  padding-bottom: max(4px, 0.3vw);;
}

#TBDepBody{
  width:calc(100% - max(20px, 1.5vw));
  border-radius: 0 0 max(2px, 0.15vw) max(2px, 0.15vw);

  display: grid;
  grid-template-columns: repeat(auto-fill,1fr);
  row-gap: max(8px, 0.6vw);;

  padding:max(8px, 0.6vw);
  padding-bottom: max(4px, 0.3vw);
}




#bruhTwo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;     /* full-screen overlay */
  background-color: transparent;
  pointer-events: none; /* let clicks go through unless overridden */
  z-index: 1;

  display: none;
  flex-direction: column;
}
#bruhTwo > div {
  /* position: absolute; */
  
  /* left: 0; */
  pointer-events: auto; /* only this div gets events */
}
/* style="background-color: white;margin-top:10%;margin-left:25%;width:50%;height:50%" */
#DailyRewardBox{
  background-color: white;
  padding: 0.5vw;
  margin-top: max(10%,3vh);
  margin-left: max(25%,3vw);
  width: min(550px,40%);
  position: relative;  
  overflow: hidden;
  aspect-ratio: 0.8/1;
  display: flex;
  flex-direction: column;


}

#DailyRewardImage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  aspect-ratio: 1/0.6;
  background-color: gray;
}

#bruh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;     /* full-screen overlay */
  background-color: transparent;
  pointer-events: none; /* let clicks go through unless overridden */
  z-index: 1;

  display:none;
  /* flex;  */
  flex-direction: column;
}

#bruh > div {
  /* position: absolute; */
  
  left: 0;
  pointer-events: auto; /* only this div gets events */
}

#Resources_Buttons{
  top: 0;
  width: min(100%, 800px);
  aspect-ratio: 12/1;
  min-height: 7%;
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 5fr;
  border-radius: 0 0 7px 0;
}

#Button_Dropdown{
  width:  min(550px,40%);
  max-height: 90%;

  background-color: gray;
  position: relative;  
  display: flex;
  flex-direction: column;

  padding:min(0.75vw,0.75vh);
  padding-top: 0;
  overflow: hidden;
}

#inner_B_Dropdown{
  position: relative;

  width: 100%;
  height: calc(100% - min(0.75vw,0.75vh));
  /* - min(0.75vw,0.75vh)); */
  /* margin-bottom: min(0.75vw,0.75vh); */
  overflow-y: scroll;  
  scrollbar-gutter: stable;
  scrollbar-color: black gray;
  scrollbar-width: thin;  
  /* EXTREMELY IMPORTANT, STOPS A HUGE BOX APPEARING FOR SOME REASON, YOU NEED GAP BETWEEN DIV AND THE SCTROLL BAR */
  padding-right: 1px;
  /* ---------------------------------------------------------------------------------------------------- */
  /* padding-bottom: 1px; */

  &::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }
}

#Title{
  margin:0;
  line-height: 1.25;
  padding:0;
  font-size: max(2.6vw,2.6vh);
  color:white
}

#TopButResHolder{
  display: grid;
  grid-template-rows: 1.3fr 2fr;
  padding:4px 4px 4px 0px;
  row-gap: 4px;
}

#Resources {
  /* grid-column: 1 / -1; Span all 7 columns */
  /* background: orange;  Example */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 4px;
  /* padding-left:4px; */
  /* padding-right: 4px; */
}

.ResourceBlock{
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  position: relative;
  background-color: rgb(98, 98, 98);
  border-radius: 4px;
}

.resource-tooltip {
  position: absolute;
  background: gray;  /* semi-transparent gray */
  color: white;
  padding: 0.4vw;
  border-radius: 4px;
  pointer-events: none; /* so it doesn't block mouse events */
  white-space: nowrap;
  z-index: 1000;
  display: none; /* hidden by default */
  font-size: max(1vw,1vh);
  line-height: max(1.2vw,1.2vh);
  /* width: 15vw; */
  /* max-width: 15vw; */
}

#TopBarButtonHolder{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 4px;
  padding:4px 4px 2px 4px;
  /* padding-right: 4px; */
}

canvas {
  position: absolute;
  /* top: 0; left: 0; */
  /* display: block; */
  width: 100%;
  height: 100%;
}

.TopBarBtn{
  background-color: rgb(188, 187, 187);
  border-radius: 6px;
}



p{
  margin:0;
  line-height: 1.25;
  padding:0
}

@media (max-width: 800px) {
  #Button_Dropdown {
    /* width: 100%; */
    /* aspect-ratio: 1.75/1; */
    max-height: 40%;
    /* padding:min(0.75vw,0.75vh) */
  }
  #DailyRewardBox{
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: 550px) {
  #Button_Dropdown {
    width: calc(100% - max(1.5vw,1.5vh));
    /* aspect-ratio: 1.75/1; */
    /* height: 40%; */
    padding:max(0.75vw,0.75vh);
    padding-top: 0;
  }
  #Resources_Buttons{
    border-radius: 0;
  }
  #TopBarButtonHolder{
    column-gap: 2px;
    padding-left:2px;
    padding-right: 2px;
  }
  #DailyRewardBox{
    width: 80%;
    margin-left: 10%;
  }
}



